.common{
    position: absolute;
}

.nav{
    top: 5px;
    left: 5px;
    right: 5px;
    height:40px;
    z-index: 2;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu{
    text-align: right;
    padding-right: 15px;
    position:relative; top: 10px; left: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 14px;
}


.header{
    top: 45px;
    left: 5px;
    right: 5px;
    height: 370px;
    z-index: 2;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    
}

.centeredtextimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.headersubheading{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 20px;
      font-weight: lighter;
}

.mainbody {
    top: 400px;
    bottom: 64px;
    left: 300px;
    right: 300px;
    padding-right: 15px;
}

.bodytext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 14px;

}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.tablesubheading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 20px;
    font-size: 8px, color #999999;
    text-align: center;
    position: relative; top: 3800px;
    border-top: rgba(54, 54, 54) solid 1px;
}

.smallfooter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: rgba(54, 54, 54);
    padding-top: 15px;
    position: relative; bottom: -15px;
}



.subheader {
    float: right;
}


/*.common{
    position: absolute;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}



.mainbody {
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
    padding-right: 5px;
}


.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 10px;
    font-size: 8px, color #999999;
    text-align: center;
    position: fixed;
}

.subheader {
    float: right;
}*/

