/* Cydne Baker Dec 9, 2021 */

.background-color{
    background-color: #edf2eb;
    background-position: bottom right;
    background-repeat: repeat;
}

.subheader{
    font-size: 20px;
    font-style: italic;
    font-kerning: 5px;
    font-weight: lighter;
}

.footer{
    font-kerning: 12px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
}

.headersub{
    font-style: italic;
    font-size: 25px;
}

.header{
    font-size: 30px;
    font-weight: normal;
}

.mainbody{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.intense{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.subtle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 23px;
}